@use "base/mixins" as m;
.header__nav {
    display: flex;
    align-items: center;
    .nav {
        @include m.telefono {
            display: flex;

            padding: 0;
        }
        display: flex;
        gap: 2rem;
        align-items: center;
    }
}
.nav__item {
    list-style: none;
    .nav__link {
        text-decoration: none;
        color: #fff9c9;
        font-size: 2.5rem;
    }
}
